@model WebDemo.Models.User
@{
    ViewBag.Title = "Register";
}
<style>
    .account_login {
        width: 60%;
        float: left;
        height: 850px;
        padding-top: 30px;
    }

    .account_login li {
        border: 0px;
     }

    .av {
        font-size: 40px;
    }

    .bt {
        width: 140px;
        height: 40px;
        font-size: 16px;
        text-align: center;
        padding-left: 10px;
    }

    #dc {
        height: 40px;
    }

    .bts {
        width: 100%;
        height: 45px;
        border: 0px;
        border-radius: 5px;
        font-size: 20px;
    }
    #dc1 {
        height: 40px;
        text-align: center;
        border-radius: 5px;
        border: 0px;
        background-color: #C9C9C9;
        color: black;
        font-size: 20px;
    }
    #dc1:hover{
        text-decoration: none;
    }
</style>

<div class="acc">
    <div class="account_login">
        <ul class="list-group">
            <li class="list-group-item av">
                <span>Đăng ký</span>
            </li>
            <li class="list-group-item fr">
                @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { @name = "register", @onsubmit = "return validationForm()" }))
                {
                    @Html.TextBox("txtUsername", null, new { @class = "form-control", @id = "dc", @placeholder = "Enter username" })

                    <span class="spanusername" style="color: red;margin-top: 10px;"></span>
                    <br />
                    @Html.Password("txtPassword", null, new { @class = "form-control", @id = "dc", @placeholder = "Enter password" })
                    <span class="spanpassword" style="color: red;margin-top: 10px;"></span>
                    <br />
                    @Html.TextBox("txtFullname", null, new { @class = "form-control", @id = "dc", @placeholder = "Enter fullname" })
                    <span class="spanfullname" style="color: red;margin-top: 10px;"></span>
                    <br />
                    @Html.TextBox("txtAge", null, new { @class = "form-control", @id = "dc", @placeholder = "Enter age" })
                    <span class="spanage" style="color: red;margin-top: 10px;"></span>
                    <br />
                    @Html.TextBox("txtPhone", null, new { @class = "form-control", @id = "dc", @placeholder = "Enter phone" })
                    <span class="spanphone" style="color: red;margin-top: 10px;"></span>
                    <br />
                    @Html.TextBox("txtEmail", null, new { @class = "form-control", @id = "dc", @placeholder = "Enter email" })
                    <span class="spanemail" style="color: red;margin-top: 10px;"></span>
                    <br />
                    @Html.TextBox("txtAddress", null, new { @class = "form-control", @id = "dc", @placeholder = "Enter address" })
                    <span class="spanaddress" style="color: red;margin-top: 10px;"></span>
                    <br />
                    <input type="submit" name="submit" class="bts" id="dc1" value="Register" />
                }
            </li>
            <li class="list-group-item dk">
                <span>Đã có tài khoản ?</span>
                <a class="btn btn-light" href="@Url.Action("Login", "Login")"><span>Đăng nhập</span></a>
            </li>
        </ul>
    </div>
</div>
<script>
    function validationForm() {
        let username = document.forms["register"]["txtUsername"].value;
        let password = document.forms["register"]["txtPassword"].value;
        let fullname = document.forms["register"]["txtFullname"].value;
        let age = document.forms["register"]["txtAge"].value;
        let phone = document.forms["register"]["txtPhone"].value;
        let email = document.forms["register"]["txtEmail"].value;
        let address = document.forms["register"]["txtAddress"].value;
        if (username == "") {
            document.querySelector(".spanusername").innerHTML = "Username không được để trống";
            return false;
        }
        else if (password == "" || password.length > 20) {
            document.querySelector(".spanusername").innerHTML = "";
            document.querySelector(".spanpassword").innerHTML = "Password không được để trống và phải nhỏ hơn 20 ký tự";
            return false;
        }
        else if (fullname == "") {
            document.querySelector(".spanusername").innerHTML = "";
            document.querySelector(".spanpassword").innerHTML = "";
            document.querySelector(".spanfullname").innerHTML = "Fullname không được để trống";
            return false;
        }
        else if (age == 0 || age == "") {
            document.querySelector(".spanusername").innerHTML = "";
            document.querySelector(".spanpassword").innerHTML = "";
            document.querySelector(".spanfullname").innerHTML = "";
            document.querySelector(".spanage").innerHTML = "Age không được để trống và phải lớn hơn 0";
            return false;
        }
        else if (phone.lenth > 10 || phone == "") {
            document.querySelector(".spanusername").innerHTML = "";
            document.querySelector(".spanpassword").innerHTML = "";
            document.querySelector(".spanfullname").innerHTML = "";
            document.querySelector(".spanage").innerHTML = "";
            document.querySelector(".spanphone").innerHTML = "Phone không được để trống và phải có 10 chữ số";
            return false;
        }
        else if (address == "") {
            document.querySelector(".spanusername").innerHTML = "";
            document.querySelector(".spanpassword").innerHTML = "";
            document.querySelector(".spanfullname").innerHTML = "";
            document.querySelector(".spanage").innerHTML = "";
            document.querySelector(".spanphone").innerHTML = "";
            document.querySelector(".spanaddress").innerHTML = "Address không được để trống";
            return false;
        }
        else if (email == "") {
            document.querySelector(".spanusername").innerHTML = "";
            document.querySelector(".spanpassword").innerHTML = "";
            document.querySelector(".spanfullname").innerHTML = "";
            document.querySelector(".spanage").innerHTML = "";
            document.querySelector(".spanphone").innerHTML = "";
            document.querySelector(".spanaddress").innerHTML = "";
            document.querySelector(".spanemail").innerHTML = "Email không được để trống";
            return false;
        }
        return true;
    }
</script>

