<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin page </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <!-- Favicon icon -->
      <link rel="icon" href="/img/logo.png" type="image/x-icon">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/Content/style.css">
      <style>
          .active{
              height: 60px;
              line-height: 50px;
          }
          .blblack {
              width: 100%;
              height: 100%;
              background: black;
              opacity: 0.5;
              z-index: 102;
              position: absolute;
              display: none;
          }
      </style>
  </head>
  <body>
      <div class="blblack">

      </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a href="index.html">
                            <img class="img-fluid" src="/img/logo1.png" alt="Theme-Logo" />
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                    </div>
                </div>
            </nav>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-40 img-radius" src="/img/logo.ico" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>John Doe</span>
                                    </div>
                                </div>
                            </div>
                            <!-- search -->
                            <div class="pcoded-search">
                                <span class="searchbar-toggle">  </span>
                                <div class="pcoded-search-box ">
                                    <input type="text" placeholder="Search">
                                </div>
                            </div>
                            <!-- menu -->
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="@Url.Action("Index", "Admin")">
                                        <span class="pcoded-mtext">Trang chủ</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="@Url.Action("Index", "AdminDanhMuc")">
                                        <span class="pcoded-mtext">Danh mục</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="@Url.Action("Index", "AdminSanPham")">
                                        <span class="pcoded-mtext">Sản phẩm</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="@Url.Action("Index", "AdminDonHang")">
                                        <span class="pcoded-mtext">Đơn hàng</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="@Url.Action("Index", "AdminKhachHang")">
                                        <span class="pcoded-mtext">Khách hàng</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="pcoded-content sdc">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/script.js"></script>
<script src="~/Scripts/pcoded.min.js"></script>
<script src="~/Scripts/demo-12.js"></script>
</body>
</html>
